@font-face {
	font-family: Roboto;
	src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto Condensed";
	src: url(roboto/Roboto-Condensed.ttf);
}

@font-face {
	font-family: "Roboto Condensed Light";
	src: url(roboto/RobotoCondensed-Light.ttf);
}

@font-face {
	font-family: "Roboto Condensed Bold";
	src: url(roboto/RobotoCondensed-Bold.ttf);
}

body {
	/*background: pink;*/
}

header {
	height: 500px;
	width: 100%;
}

header {
	height: 100%;
	padding: 0px;
	margin: 0;
}

header .row {
	height: 500px;
}

.row {
	margin: 0;
	padding: 0px;
}

.row * {
	padding: 0px;
}

h3 {
	font-family: "Roboto Condensed Light";
	text-transform: uppercase;
	width: 150px;
	clear: both;
	color: #000000;
/*	transition: all 0.9s;
	transform-origin: left;
	position: relative;*/
}

/*h2:hover {
	color: blue;
	transform: scale(1.3);
	transform: rotate(1turn);
}*/

.description-holder {
	text-transform: uppercase;
	font-family: "Roboto Condensed Light";
	color: #000000;
	position: relative;
	height: 140px;
	z-index: 3;
}

.description-holder span {
	font-family: "Roboto Condensed Bold";
}

.description-holder p {
	margin: 0;
	line-height: 1;
	font-size: 12px;
}

#logo {
	height: 100%;
	background: #E9EAE2;
	padding: 0px;
}

#logo-img {
	margin: 0 auto;
	padding-top: 48px;
}

#logo p {
	width:135px;
	text-transform: uppercase;
	color: #3A3D3C;
	/*margin-left: 16%;*/
	display: block;
	margin: 0 auto;
	font-family: "Roboto Condensed Light";
	font-size: 18px;
	line-height: 1.1;
}

#logo ul {
	width: 135px;
	list-style-type: none;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}

#logo ul li:last-child {
	padding-right: 0px;
}

#logo li {
	display: inline-block;
	padding-right: 10px;
}

#logo li a {
	color: #7ACEC3;
}

.item {
	float: right;
	padding-top: 66px;
}

img {
	max-width: 100%;
	height: auto;;
	display: block;
}

#nav-1 {
	height: 100%;
	background: #7ACEC3;
	padding: 0px;
}

#nav-2 {
	height: 500px;
	background: #EBB240;
	padding: 0px;
}

#nav-3 {
	background: #EBB240;
}

#projects {
	height: 1265px;
	background: #EAEAEA;
}

#item-1, #item-2, #item-3, #item-4, #item-5, #item-6, #item-7, #item-8 {
	z-index: 1;
}

#item-1 img, #item-2 img, #item-3 img, #item-4 img, #item-5 img, #item-6 img, #item-7 img, #item-8 img {
	z-index: 2;
	position: relative;
}

#item-1 {
	height: 500px;
	background: #FFFFFF;
	padding: 0px;
}

#item-1 .description-holder {
	top: 60px; 
	left: 20px;
}

#item-1 img {
	height: 500px;
	float: right;
	padding-right: 32px;
	top: -160px;
}

#item-2 {
	width: 100%;
	height: 250px;
	background: #DFE0D9;
}

#item-2 img {
	float: right;
	padding: 12px 20px 0px 0px;
	top: -160px;
}

#item-2 .description-holder {
	left: 30px;
}

#item-2 p {
	text-transform: lowercase;
}

#item-3 {
	height: 466px;
	background: #F7F7F3;
}

#item-3 img {
	top: -140px;
}

#item-3 .description-holder {
	top: 320px;
	left: 60px;
}

#item-4 {
	height: 466px;
	background: #7A838D;
}

#item-4 img {
/*	position: absolute;
	bottom: 0px;
	left: 30px;*/
}

#item-4 .description-holder {
	left: 30px;
	top: 10px;
	color: #FFFFFF;
}

#item-4 h3 {
	color: #FFFFFF;
}

#item-5 {
	height: 466px;
}

#item-5 img {
	top: -80px;
	left: 60px;
}

#item-5 .description-holder {
	top: 70px;
	left: 320px;
}

#item-6, #item-7, #nav-3 {
	height: 300px;
}

#item-6 {
	background: #FFFFFF;
}

#item-6 img {
	top: -130px;
}

#item-6 .description-holder {
	top: 180px;
	left: 100px;
}

#item-7 {
	background: #CECECE;
}

#item-7 img {
	top: -100px;
}

#item-7 .description-holder {
	top: 60px;
	left: 160px;
}

#item-8 {
	height: 250px;
	background: #FFFFFF;
}

#item-8 img {
	left: 25px;
	top: -130px;
}

#item-8 .description-holder {
	left: 230px;
	top: 20px;
}